<?xml version="1.0" encoding="UTF-8"?>
<!-- AlbionOicDV.pcf : cloned from base OOTB screen then diverged. Do NOT diff against base; upgrade team gave up in v9->v10 (AGI-41394). -->
<PCF xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailView
    id="AlbionOicDV">
    <Require
      name="PolicyPeriod"
      type="PolicyPeriod"/>
    <InputColumn>
        <TextInput
          editable="true"
          id="LegacyPolicyRef_Ext"
          label="&quot;LegacyPolicyRef&quot;"
          value="PolicyPeriod.LegacyPolicyRef_Ext"/>
        <TextInput
          editable="false"
          id="CampaignCode_Ext"
          label="&quot;CampaignCode&quot;"
          value="PolicyPeriod.CampaignCode_Ext"/>
        <TextInput
          editable="false"
          id="FeedStatus_Ext"
          label="&quot;FeedStatus&quot;"
          value="PolicyPeriod.FeedStatus_Ext"/>
        <TextInput
          editable="true"
          id="ChannelRef_Ext"
          label="&quot;ChannelRef&quot;"
          value="PolicyPeriod.ChannelRef_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="VulnerableCustomerFlag"
        label="&quot;Vulnerable Customer (FG21/1)&quot;"
        value="PolicyPeriod.VulnerabilityNoted_Ext"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        editable="false"
        id="BrandCode"
        label="&quot;Brand&quot;"
        value="PolicyPeriod.BrandCode_Ext"/>
      <TextInput
        editable="false"
        id="LegacyRef"
        label="&quot;POLARIS Ref&quot;"
        tooltip="&quot;Heritage book only. If populated, cross-check the mainframe before ANY financial change.&quot;"
        value="PolicyPeriod.LegacyPolicyRef_Ext"/>
    </InputColumn>
  </DetailView>
</PCF>
