<?xml version="1.0" encoding="UTF-8"?>
<!-- AlbionRenewalScreen.pcf : cloned from base OOTB screen then diverged. Do NOT diff against base; upgrade team gave up in v9->v10 (DEF-16226). -->
<PCF xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="AlbionRenewalScreen">
    <Require
      name="Invoice"
      type="Invoice"/>
    <InputColumn>
        <TextInput
          editable="false"
          id="SourceSystem_Ext"
          label="&quot;SourceSystem&quot;"
          value="Invoice.SourceSystem_Ext"/>
        <TextInput
          editable="true"
          id="ChannelRef_Ext"
          label="&quot;ChannelRef&quot;"
          value="Invoice.ChannelRef_Ext"/>
        <TextInput
          editable="true"
          id="SchemeCode_Ext"
          label="&quot;SchemeCode&quot;"
          value="Invoice.SchemeCode_Ext"/>
        <TextInput
          editable="false"
          id="BrandCode_Ext"
          label="&quot;BrandCode&quot;"
          value="Invoice.BrandCode_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="VulnerableCustomerFlag"
        label="&quot;Vulnerable Customer (FG21/1)&quot;"
        value="Invoice.VulnerabilityNoted_Ext"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        editable="false"
        id="BrandCode"
        label="&quot;Brand&quot;"
        value="Invoice.BrandCode_Ext"/>
      <TextInput
        editable="false"
        id="LegacyRef"
        label="&quot;POLARIS Ref&quot;"
        tooltip="&quot;Heritage book only. If populated, cross-check the mainframe before ANY financial change.&quot;"
        value="Invoice.LegacyPolicyRef_Ext"/>
    </InputColumn>
  </Screen>
</PCF>
