<?xml version="1.0" encoding="UTF-8"?>
<!-- AlbionSegmentationScreen.pcf : cloned from base OOTB screen then diverged. Do NOT diff against base; upgrade team gave up in v9->v10 (CHG-24549). -->
<PCF xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="AlbionSegmentationScreen">
    <Require
      name="Claim"
      type="Claim"/>
    <InputColumn>
        <TextInput
          editable="false"
          id="CampaignCode_Ext"
          label="&quot;CampaignCode&quot;"
          value="Claim.CampaignCode_Ext"/>
        <TextInput
          editable="false"
          id="ChannelRef_Ext"
          label="&quot;ChannelRef&quot;"
          value="Claim.ChannelRef_Ext"/>
        <TextInput
          editable="true"
          id="BrandCode_Ext"
          label="&quot;BrandCode&quot;"
          value="Claim.BrandCode_Ext"/>
        <TextInput
          editable="true"
          id="LegacyPolicyRef_Ext"
          label="&quot;LegacyPolicyRef&quot;"
          value="Claim.LegacyPolicyRef_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="VulnerableCustomerFlag"
        label="&quot;Vulnerable Customer (FG21/1)&quot;"
        value="Claim.VulnerabilityNoted_Ext"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        editable="false"
        id="BrandCode"
        label="&quot;Brand&quot;"
        value="Claim.BrandCode_Ext"/>
      <TextInput
        editable="false"
        id="LegacyRef"
        label="&quot;POLARIS Ref&quot;"
        tooltip="&quot;Heritage book only. If populated, cross-check the mainframe before ANY financial change.&quot;"
        value="Claim.LegacyPolicyRef_Ext"/>
    </InputColumn>
  </Screen>
</PCF>
